
@import url("https://fonts.googleapis.com/css2?family=Agbalumo&family=Cedarville+Cursive&family=Great+Vibes&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

:root{
    --header-background-color: rgb(228, 21, 228);
    --header-text-color:white;
    --font-logo:"Agbalumo",sarif;
    --rest-font:"Roboto",sarif;
    --dialog-color-background: rgba(68, 67, 67, 0.566);
    --player-box-color:purple;
    --player-box-text-color:white;
    --background-color:rgb(203, 203, 203);
    --header-font-size:1.5rem;
    --header-logo-size:4rem;
    --player-font-size:1.5rem;
    --rest-font-size:1rem;
    --button-font-size:3rem;
    --dialog-font-size-button:1.6rem;



}


img{
    width: 30px;
    height: auto;
}

body{
    margin:0px;
    padding: 0px;
    background-color: var(--background-color);

}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;

    width: 100vw;
    height: 100vh;

}

.header{
    width: 100%;
    height: 15%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background-color: var(--header-background-color);
    font-size: var(--header-font-size);
    color: var(--header-text-color);
    align-items: center;
   
}

.linkdin,
.github{

    margin:0px 15px;
    display: flex;
    align-items: center;
    gap:10px;
}

.github{
    justify-self: end;
}
.header img{
    width: 45px;
    height: auto;
}

.header .title{
    font-family: var(--font-logo);
    font-size: var(--header-logo-size);
    align-self: center;
    justify-self: center;
}

.header,
.player>.left,
.player>.right,
.dialog:open{
    box-shadow: 2px 3px 10px 1px gray;
}


/* player style */
.player{
    box-sizing: border-box;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-items: center;
    align-items: center;
    color: var(--header-background-color);
    font-size: var(--player-font-size);
    font-family: var(--rest-font);
    font-weight: bold;
    margin-bottom:20px;
    
    gap:50px;



}
.player .left,
.player .right{
    display: grid;
    grid-template-columns: 65px 1fr;
    grid-template-rows: 30px 30px;
    background-color: var(--header-text-color);
    width: 40%;
    padding: 0px 15px;
    border:  3px solid transparent;
    border-radius: 30px;

}

.player .name{
    grid-row-start: 1;
    grid-column: 2 / -1;
    align-self: center;
    margin-left:10px;


}

.player span{
    display: block;
    margin-left:10px;
    font-size: var(--dialog-font-size-button);
    font-family: var(--font-logo);
    grid-row: 2/-1;
    align-self: center;



}

#playerShow{
    fill:var(--header-background-color);
    width: 60px;
    height: auto;
    grid-column-start: 1;
    grid-row: 1/-1;
    align-self: center;
    justify-self: center;
}


/* grid boxes */

#dialogImage{
    fill:var(--header-background-color);
}
.battleGrid{
    width: 40%;
    height: 60%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    border: 3px solid var(--header-background-color);
}

.battleGrid>button{
    border: 3px solid var(--header-background-color);
    color:var(--header-text-color);
    font-size: calc(var(--button-font-size)*1.5);
    font-weight: bold;
    color: var(--header-background-color);
}



dialog:open{
    border:5px solid transparent;
    border-radius: 20px;


}




/* start dialog box */
.start:open>form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:10px;
    color:var(--header-background-color);

}
.start:open>form label,
.tie:open>form label{
    font-size: 1.3rem;
    font-weight: bold;
}

.start:open input[type="text"],
.tie:open input[type="text"]{
    border:3px solid var(--header-background-color);
    border-radius: 15px;
    font-size: 1.2rem;
    color: var(--header-background-color);
    outline-color: transparent;
}

.start:open>form img,
.tie:open>form img{
    width: 150px;
    height: auto;
    justify-self: center;
    
}


.start:open>form>.left,
.start:open>form>.right,
.tie:open>form>.left,
.tie:open>form>.right{
    display: grid;
    grid-template-columns: 1fr;
    gap:10px;
    

}
.start:open>form>#startTheGame,
.tie:open>form>#rematch{
    grid-column: 1 / -1;
    align-self: center;
    justify-self: center;

}

.start:open button,
.tie:open button,
.victory:open button{
    font-size: 1.8rem;
    border:3px solid var(--header-background-color);
    border-radius: 15px;
    background-color: var(--header-background-color);
    color:var(--header-text-color);
    font-weight: bold;
    padding: 0px 10px;

    
}


.symbol{
    font-size: 1.3rem;
    font-weight: bold;
}

/* tie dialog box */

.tie:open>form{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    color: var(--header-background-color);
}

.tie .message{
    align-self: center;
    justify-self: center;
    font-size: calc(var(--header-logo-size)*1.5);
    font-family: var(--font-logo);
    color:var(--header-background-color);
}


.victory:open{
    display: grid;
    grid-template-columns: 300px 1fr;
    color: var(--header-background-color);
}


.victory:open img{
    width: 100%;
    height: auto;
}
.victory:open .restartButton{
    grid-column: 1/-1;
    justify-self: center;
}

a{
    text-decoration: none;
    color: var(--header-text-color);
}

.victory .player{
    font-size: var(--button-font-size);

}

.victory .playerName
{
    font-size: 2rem;
    font-weight: bold;
}

.victory .message{
    font-family: var(--font-logo);
    font-size: 1.8;
}
.victory:open .left{
    align-self: center;
}



::backdrop{
    background-color: rgba(39, 39, 39, 0.674);
}